server:
  port: 8082

spring:
  application:
    name: rating-service

  datasource:
    url: jdbc:postgresql://localhost:5433/ratings
    username: ratings
    password: ratings
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

  kafka:
    bootstrap-servers: localhost:29092
    consumer:
      group-id: ${spring.application.name}
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: com.peya.interview.events
        spring.json.value.default.type: com.peya.interview.events.ReviewCreatedEvent

  data:
    redis:
      host: localhost
      port: 6379

app:
  kafka:
    topics:
      review-created: review-created-topic
    consumer:
      review-created:
        concurrency: 2

  redis:
    rating-cache:
      ttl: PT5M